*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  background: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  margin: 0 auto;
}

.content-box-component {
  box-sizing: content-box;
}

.site-navigation,
.main-footer ul,
.sorting ul,
.residence ul {
  list-style: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  background-color: #ffffff;
  margin: 0;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin-left: 72px;
  margin-right: 72px;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.left {
  margin-right: 219px;
  margin-left: -22px;
  padding: 6px;
  padding-left: 4px;
  padding-right: 9px;
}

.site-navigation li {
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
}

.site-navigation ul:nth-child(1),
.site-navigation ul:nth-child(2) {
  text-align: left;
}

.site-navigation ul:nth-child(3),
.site-navigation ul:nth-child(4) {
  text-align: right;
}

.site-navigation a,
.residence h2 a,
.sorting a {
  display: block;
  color: #000000;
}

.main-header-logo {
  position: absolute;
  top: 1px;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  height: 71px;
  z-index: 1;
}

.intro {
  position: relative;
  background: url("../img/back-photo.png");
  background-repeat: no-repeat;
  text-align: center;
  margin: 0;
  padding-top: 75px;
  width: 1200px;
  height: 506px;
  background-position: 0px -83px;
}

.intro img {
  padding-bottom: 79px;
}

.intro::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  width: 1200px;
  height: 59px;
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
}

.site-navigation a:hover,
.site-navigation a:focus,
.main-footer a:hover,
.main-footer a:focus,
.sorting a:hover,
.sorting a:focus,
h2 a:hover,
h2 a:focus {
  color: #81b3d2;
}

.site-navigation a:active,
.main-footer a:active,
.sorting a:active,
h2 a:active {
  color: #c7c7c7;
}

.preview {
  text-align: center;
  margin: 0;
  background-color: #ffffff;
}

.preview h2 {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding-right: 379px;
  padding-left: 380px;
  padding-top: 60px;
  padding-bottom: 29px;
}

.preview p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 52px;
  padding-left: 354px;
  padding-right: 354px;
}

.reason-block {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #81b3d2;
}

.reason-info {
  width: 400px;
  text-align: center;
  color: #ffffff;
}

.reason-block img {
  width: 800px;
  display: block;
}

.reason-info h3 {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding-top: 46px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 24px;
}

.reason-info p {
  font-size: 14px;
  line-height: 21px;
  padding-top: 21px;
  padding-left: 48px;
  padding-right: 48px;
  margin: 0;
  padding-bottom: 60px;
}

.reason-item {
  width: 400px;
  text-align: center;
  background-color: #eeeeee;
}

.reason-item h3 {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding-left: 140px;
  padding-right: 140px;
  padding-bottom: 24px;
  padding-top: 46px;
}

.reason-item p {
  margin: 0;
  padding-top: 22px;
  padding-left: 64px;
  padding-right: 67px;
  padding-bottom: 59px;
}

.reason-item p,
.reason-item span,
.reason-info p,
.reason-info span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.advantages-block {
  display: flex;
  flex-direction: row;
	text-align: center;
  color: #000000;
  background-color: #ffffff;
}

.advantages-item {
  position: relative;
  text-align: center;
  width: 400px;
}

.advantages-item h3 {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding-bottom: 23px;
  padding-top: 161px;
}

.house-ico {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -37.5px;
  top: 60px;
  width: 75px;
  height: 72px;
  background-image: url("../img/house.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.food-ico {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -36.5px;
  top: 60px;
  width: 75px;
  height: 72px;
  background-image: url("../img/burger.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.souvenirs-ico {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -31.5px;
  top: 56px;
  width: 75px;
  height: 76px;
  background-image: url("../img/souvenirs.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.advantages-item p {
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 83px;
  padding-left: 50px;
  padding-right: 55px;
}

.advantages-item span,
.advantages-item p  {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.search-block {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.search-block h2 {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  padding-top: 49px;
  margin-bottom: 29px;
}

.search-block p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 51px;
  padding-left: 138px;
  padding-right: 139px;
}

.search-block a {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin-left: 315px;
  margin-right: 315px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #766357;
}

.modal-search {
  position: absolute;
  height: 395px;
  top: 100%;
  left: 50%;
  margin-left: -284px;
  font-size: 14px;
  line-height: 26px;
  width: 568px;
  box-shadow: 0px 7px 15px 0 rgba(0,1,1,0.15);
  background-color: #ffffff;
}

.modal-search .button {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
}

.date-of-arrival {
  padding-top: 54px;
  padding-right: 55px;
  padding-left: 55px;
}

.date-of-departure {
  padding-top: 28px;
  padding-left: 3px;
  margin-bottom: 38px;
}

.date-of-departure label,
.date-of-arrival label {
  margin-right: 17px;
}

.date-of-departure input,
.date-of-arrival input {
  font-size: 14px;
  line-height: 26px;
  padding-top: 3px;
  padding-left: 12px;
  width: 345px;
  height: 38px;
  background-color: #f2f2f2;
  border: 0;
  font-weight: inherit;
  text-transform: inherit;
}

.date-of-departure input:hover,
.date-of-arrival input:hover {
  background-color: #ebebeb;
}

.date-of-departure input:focus,
.date-of-arrival input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.button-calendar {
  position: absolute;
  background-color: transparent;
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
}

.button-calendar:hover path,
.button-calendar:focus path {
  fill: #000000;
}

.button-calendar:focus path{
  fill: #81b3d2;
}

.date-of-arrival .button-calendar {
  left: 483px;
  top: 62px;
}

.date-of-departure .button-calendar {
  left: 483px;
  top: 129px;
}

.people-container {
  font-size: 14px;
  line-height: 26px;
  display: flex;
  justify-content: space-between;
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 43px;
}

.people-item,
.input-people-item {
  display: flex;
}

.input-people-item {
  margin-left: 27px;
  margin-top: -6px;
}

.adult {
  margin-left: 41px;
}

.input-people-item input {
  text-align: center;
  width: 38px;
  height: 38px;
  border: none;
  box-shadow: none;
  background-color: #f2f2f2;
}

.button-minus {
  background-image: url("../img/minus.png");
}

.button-minus:hover,
.button-minus:focus {
  background-image: url("../img/minus_1.png");
}

.button-minus:active {
  background-image: url("../img/minus_2.png");
}

.button-plus {
  background-image: url("../img/plus.png");
}

.button-plus:hover,
.button-plus:focus {
  background-image: url("../img/plus_1.png");
}

.button-plus:active {
  background-image: url("../img/plus_2.png");
}

.button-counter {
  background-position: center;
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

.button {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  padding-left: 17px;
  padding-right: 17px;
  background-color: #81b3d2;
  display: inline-block;
  vertical-align: middle;
  padding-top: 2px;
  padding-bottom: 2px;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: #87b6d1;
}

.search-block a:hover,
.search-block a:focus,
.button-brown:hover,
.button-brown:focus {
  background-color: #604e43;
}

.search-block a:active {
  background-color: #503e33;
  color: #847870;
}

.button-brown:active {
  background-color: #503e33;
  color: #847870;
}

.button-find {
  text-transform: uppercase;
  width: 460px;
  height: 57px;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 194px;
  padding-right: 213px;
  margin-top: 11px;
}

.maps img {
  display: block;
}

.main-footer {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 132px;
  padding-right: 87px;
  margin: 0;
}

.main-footer-index {
  position: relative;
  margin-top: -118px;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer a {
  color: #000000;
}

.main-footer-hashtag {
  max-width: 400px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding-right: 256px
}

.social {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 221px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  background-color: #81b3d2;
  margin-right: 5px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #87b6d1;
}

.generated {
  max-width: 400px;
  display: flex;
  align-items: center;
  padding: 0;
}

.generated a:hover path,
.generated a:focus path {
  fill: #81b3d2
}

.generated a:active path {
  fill: #bdbbbc;
}

.filter-sedona {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  background: url("../img/filter-background.png") no-repeat 50%  ;
}

.filter-sedona-container {
  display: flex;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-left: 72px;
}

.filter-sedona-item h2 {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  padding-top: 26px;
  padding-bottom: 24px;
}

.filter-sedona-item  {
  padding-right: 119px;
}

.checkboxes {
  position: relative;
  display: block;
  padding-bottom: 25px;
  padding-left: 40px;
}

.checkboxes:last-child {
  padding-bottom: 32px;
}

.checkboxes label {
  position: relative;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  left: -40px;
  width: 27px;
  height: 23px;
}
.checkbox-disabled:checked:disabled + label::after {
  background-image: url("../img/checkbox-on-disabled.svg");
}


.checkbox-disabled:disabled + label::after {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-input-checkbox + label::after {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  left: -40px;
  width: 27px;
  height: 23px;
  color: #6a6a6a;
}

.price {
  width: 330px;
  margin-right: 60px;
  color: #ffffff;
}

.price-title {
  font-size: 16px;
  line-height: 21px;
  padding-top: 26px;
  margin-bottom: 10px;
}

.price-item {
  position: relative;
  font-size: 0;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  width: 317px;
}

.price-item label {
  display: inline-block;
  font-size: 14px;
  line-height: 33px;
  vertical-align: top;
  cursor: pointer;
  color: #ffffff;
  padding-left: 65px;
}

.price-item .min-price
.price-item .max-price {
  width: 90px;
}

.price-item input {
  width: 60px;
  color: inherit;
  font-size: 14px;
  line-height: 21px;
  background: none;
  border: none;
}

.price-item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-control {
  position: relative;
  margin-bottom: 32px;
}

.range-control-item {
  position: absolute;
  top: -10px;
  width: 21px;
  height: 22px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.price-control .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.price-control .scale {
  width: 317px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-control-item:hover,
.range-control-item:focus {
  background: #1c4f80;
}

.range-control-min {
  left: 0;
}

.range-control-max {
  left: 77%;
}

.button-transparent {
  display: block;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 35px;
  padding-left: 36px;
  margin-left: 84px;
}

.button-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.sorting {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding-top: 31px;
  padding-bottom: 30px;
  padding-left: 72px;
  padding-right: 72px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.sorting h2 {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-right: 48px;
}

.sorting-item {
  display: flex;
  justify-content: space-between;
  width: 277px;
  margin: 0;
}

.sorting-item a:hover {
  border-bottom: 1px dotted #81b3d2;
}

.sorting-arrow {
  display: flex;
  padding-left: 505px;
}

.arrow-up {
  padding-right: 12px;
}

.arrow-up:hover path,
.arrow-up:focus path,
.arrow-down:hover path,
.arrow-down:focus path {
  fill: #231f20;
}

.arrow-up:active path,
.arrow-up:active path,
.arrow-down:active path,
.arrow-down:active path {
  fill: #81b3d2;;
}

.residence-list {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.residence-image img {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}

.residence-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 72px;
  padding-right: 72px;
  border-bottom: 1px solid #e5e5e5;
}

.residence-info {
  display: flex;
}

.residence-info-item {
  margin-left: 30px;
  padding: 0;
}

.residence-info-item h2 {
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 6px;
}

.residence-hotel {
  padding-right: 36px;
}

.residence-motel {
  padding-right: 61px;
}

.residence-apartment {
  padding-right: 17px;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 27px;
}

.rating-stars {
  display: flex;
  padding-bottom: 50px;
}

.star {
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  background-color: #ffffff;
  margin-left: 5px;
}

.rating-item {
  padding-top: 1px;
  padding-bottom: 2px;
  padding-right: 13px;
  padding-left: 16px;
  background-color: #f2f2f2;

}

.residence-buttons {
  margin-top: 16px;
}

.button-brown {
  background-color: #766357;
}
