*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  background: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.content-box-component {
  box-sizing: content-box;
}
.site-navigation,
.main-footer ul,
.sorting ul,
.residence ul {
  list-style: none;
}

.main-navigation {
  display: flex;
  font-size: 14px;
  line-height: 26px;
  background-color: #ffffff;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.site-navigation li {
  width: 240px;
}

.main-navigation a,
.residence a,
.sorting a {
  color: #000000;
}

.main-header-logo {
  order: 0;
  width: 140px;
  height: 71px;
}

.intro {
  background: url("../img/back-photo.png") no-repeat;
  text-align: center;
  padding-top: 132px;
  padding-bottom: 288px;
}

.site-navigation a:hover,
.site-navigation a:focus,
.main-footer a:hover,
.main-footer a:focus,
.sorting a:hover,
.sorting a:focus,
.residence-details a:hover,
.residence-details a:focus {
 	color: #81b3d2;
}

.preview {
  text-align: center;
  padding-top: 60px;
  background-color: #ffffff;
}

.preview h2 {
  font-size: 21px;
  line-height: 26px;
  margin-right: 380px;
  margin-left: 380px;
}

.preview p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-bottom: 40px;
}

.reason-block {
  display: flex;
  flex-direction: row;
  text-align: center;

  background-color: #81b3d2;
}

.reason-info {
  width: 400px;
  text-align: center;
  color: #ffffff;

}

.reason-block img {
  width: 800px;
  display: block;
}

.reason-info h3 {
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  margin-top: 50px;
  padding-left: 120px;
  padding-right: 120px;
}

.reason-info p {
  font-size: 14px;
  line-height: 21px;
  padding-left: 35px;
  padding-right: 35px;
}

.reason-item {
  width: 400px;
  text-align: center;
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 63px;
 }

.reason-item h3 {
  font-size: 21px;
  line-height: 26px;
  padding-left: 140px;
  padding-right: 140px;
}

.reason-item p {
  padding-left: 70px;
  padding-right: 60px;
}

.reason-item p,
.reason-item span,
.reason-info p,
.reason-info span{
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.advantages-block {
  display: flex;
  flex-direction: row;
	text-align: center;
  color: #000000;
  background-color: #ffffff;
  }

.advantages-item {
  text-align: center;
  width: 400px;
  padding-top: 160px;
  padding-bottom: 85px;
  padding-right: 55px;
  padding-left: 55px;
}

.advantages-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.advantages-item span,
.advantages-item p  {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}
/* Блок поиска*/
.search-block a:hover,
.search-block a:focus,
.residence-buttons a:last-child:hover,
.residence-buttons a:last-child:focus {
  background-color: #604e43;
}

.search-block {
  position: relative;
  display: flex;
  flex-direction: column;
	font-size: 21px;
	line-height: 26px;
	text-align: center;

}
.search-block h2{
  font-size: 30px;
  line-height: 36px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.search-block p {
  font-size: 14px;
  line-height: 21px;
	font-weight: 400;
  margin-bottom: 52px;
 }

.search-block a {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
	color: #ffffff;
  margin-left: 315px;
  margin-right: 315px;
  padding-top: 35px;
  padding-bottom: 35px;
  border: 1px dashed #000000;
  background-color: #766357;
}

.search-block a:hover,
.search-block a:active {
  background-color: #604e43;
}

.modal-search {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -284px;
  font-size: 14px;
  line-height: 26px;
  width: 568px;
  height: 395px;
  box-shadow: 0px 7px 15px 0 rgba(0,1,1,0.15);
  background-color: #ffffff;
}


.modal-search .button {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
}
.date-of-arrival {
  margin-top: 55px;
}
.date-of-departure input[type="text"],
.date-of-arrival input[type="text"] {
	width: 346px;
	height: 38px;
	background-color: #f2f2f2;
 }

.adult-item input[type="number"],
.childern-item input[type="number"] {
	width: 38px;
	height: 38px;
	background-color: #f2f2f2;
}
/* Блок подвала*/
.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
	text-align: center;
}

.main-footer a {
	color:#000000;
  width: 250px;
}

.main-footer-hashtag {
	font-size: 21px;
  line-height: 26px;
  text-align: center;
  width: 250px;
}

.main-footer .generated {
	text-align: center;
  width: 250px;
}

.filter-sedona {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background: url("../img/filter-background.png") no-repeat;
}

.filter-sedona h2 {
  font-size: 16px;
  line-height: 21px;
  padding-left: 75px;
  padding-top: 30px;
  padding-bottom: 35px;
}

.filer-infrastrukrura h2 {
  width: 240px;
  padding-left: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.checkbox-item {
  padding-bottom: 35px;
  padding-left: 75px;
}

.filter-residence {
  width: 390px;
}

.sorting {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 31px;
  background-color: #ffffff;
  }

.sorting h2 {
	font-size: 21px;
	line-height: 26px;
  padding-left: 75px;
}

.sorting span {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.sorting ul {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.residence-image {
  padding: 30px 0;
  width: 135px;
  height: 90px;
}

.residence-info {
  display: flex;
  flex-direction: column;
 }

.residence-details h2 {
  width: 370px;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  padding-left: 150px;
}

.residence-info-item {
  display: flex;
  flex-direction: row;
}

.rating {
  width: 240px;
  text-align: center;
  width: 110px;
  background-color: #f2f2f2;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-right: 75px;
}

.button {
  width: 142px;
  text-align: center;
  color: white;
  font-weight: 700px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #81b3d2;
}
